.active-style {
    color: red;
    text-decoration: none;
}

.dis-active {
    color: white;
    text-decoration: none;
}

.menu-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
    height: 70px;
    background-color: rgb(45, 52, 85);
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.search-input input {
    height: 30px;
    width: 400px;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card-img {
    height: auto;
}